# ignore output files
*.htm
*.php
*.exe
*.log
*.spp
*.bat
*.cmd
chair/prof/build.xml
1-2/term-papers/build.xml
_staff/timetable_list/tt_*.xml
_staff/timetable_list/build.xml



# ignore __folders
__*
RECYCLER/*