<!--  StatMod.ru CSS build 02a -->

H1 {
FONT-SIZE: 16 pt; 
text-align: center;
font-family: Arial;
COLOR: #012693;
}
H2 {
FONT-SIZE: 14 pt; 
text-align: left;
font-family: Tahoma;
COLOR: #012693;
}
H3 {
FONT-SIZE: 12 pt;
text-align: left;
font-family: Arial;
COLOR: #012693;
}

H4 {
FONT-SIZE: 10 pt;
text-align: left;
font-family:  Tahoma;
COLOR: #012693;
}

BODY {
font-family: Tahoma;
}
.notice {
	FONT-SIZE: small; COLOR: #999999; FONT-STYLE: italic
}
p{
FONT-SIZE: 10pt; 
text-align:justify;
font-family: Tahoma;
}

body {
  background-color: white;
  border: 0px;
  padding:0px;
  margin:2px;
  margin-bottom: 12pt;
}

.interesting { 
COLOR: #00861B; 
font-weight: bold;
border-bottom-width: thin; 
border-bottom-color: #2A6E9C; 
} 

.veryinteresting {
	color: #990033;
	border-bottom-width: thin;
	border-bottom-style: dashed;
	border-bottom-color: #E9B9D3;
}

A:link 
{ 
COLOR: #2A6E9C; 
FONT-SIZE: 10pt; 
TEXT-DECORATION: underline;
font-weight: normal;
} 
A:visited 
{ 
COLOR: #2A6E9C; 
FONT-SIZE: 10pt; 
font-weight: normal;
TEXT-DECORATION: underline;
} 

A:hover 
{ 
COLOR: #FE942B; 
FONT-SIZE: 10pt; 
font-weight: normal;
TEXT-DECORATION: underline;
} 

a.imagelink:visited,  a.imagelink:hover, a.imagelink:link
 {
  border-bottom-width: 0;
}

img {
  border: 0;
}

.proftable td {
  font: 10pt Tahoma;
}

.timetable table {
  background-color: grey;
  border-width: thin;
  border-color: black;
  border-style: solid;
}

.timetable td.head {
  padding: 5px;
}

.timetable td.two_hours_no {
  BACKGROUND-COLOR: #9FB5C3; 
  font-weight: bold;
}

.timetable td.weekday {
BACKGROUND-COLOR: #7FC5E3; 

  font-weight: bold;
}


.timetable td {
  font: 10pt Tahoma;

  padding: 5px;
  border-width: 1px;
  border-color: gray;
  border-style: solid;
  margin: 0; 
  text-align: left;
  vertical-align: top;
}

/* Списки */
ul{
}

.links{
FONT-SIZE: 10pt; 
font-family: Tahoma;
margin-left:12pt
}

li{
FONT-SIZE: 10pt; 
font-family: Tahoma;
}

/***
 * Цитаты 
 ***/
/* Раскрывающаяся цитата - текст */
.quotform div {
	background-color: #F0F0F0;
	margin-left: 120pt;
	margin-right: 30pt;
	text-align:justify;
	COLOR: #005C13;
}

.quotform a {/* Раскрывающаяся цитата - ссылка */
text-indent:470px;
}

q { /* Цитата в тексте */
	FONT-STYLE: italic;


}

blockquote { /* Цитаты в разделе "Цитаты -> Разное" */
font: 10pt Tahoma;
font-weight: bold;
color: #005C13;
}

span.hl { /* Подсвеченные цитаты в разделе "Цитаты -> Разное" */
background-color: #E1F0F0;
}


/***
 * Стили для горизонтального меню
 ***/
td#topnav {
  background-color: #356F9A;
  padding-left: 14px; /* Первый отступ */
}

/* Ссылки */
#topnav a {
  color: white;
  border-bottom-width: 0;
  TEXT-DECORATION: none;
}

/* Рамочки */
td#topnav span {
  border: 1px solid white;  /* Стиль самой рамочки */

  padding-top: 0px;
  padding-bottom: 0px;

  /* Отступы внутри рамочки */
  padding-left: 2px; 
  padding-right: 2px;

  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
}


/* Выделенный пункт меню */
td#topnav span.tn_sel {
  border: 1px solid #FE942B; 
}
td#topnav span.tn_sel a {
  color: #FE942B;
}


/***
 * Стили для содержимого 
 ***/
td#content_cell { 
  padding-left: 16px; /* Отступ от вертикальной линии */
  padding-top: 12px; /* Отступ от гориз. меню */
}

/***
 * Копирайт
 ***/
td#copyright {
  text-align: center;
  font: 8pt Tahoma;
  font-weight: bold;
}

td#copyright a {
  font-weight: normal;
}



/***
 * Стили для левого меню 
 ***/

td#v_line { /* Вертикальная линия */
background-image: url(_img/v_line.gif);
background-repeat: repeat-y;
}

 
#leftmenu a { /* Стиль для ссылок */
COLOR: #012693; 
FONT-SIZE: 10pt; 
font-weight: bold;
text-decoration: none;
line-height: 1em;
border: 0;
}

#leftmenu td { /* Отступы внутри ячеек таблицы */
  padding-left: 4px;  
  padding-right: 2px;
  padding-bottom: 2px;
  padding-top: 6px;
}

#leftmenu img.leftmenu_indents {
  width: 10px; // Минимальное значение - ширина картинки с точкой
  height: 1px; // Минимальное значение - 1px
}

#leftmenu img.leftmenu_firstindent {
  height: 11px; // Минимальное значение - 1px
}

/*
Вертикальный отступ начала меню от черной черты =
(#leftmenu img.leftmenu_indents)->height +
(#leftmenu td)->padding-top;

Горизонтальный отступ пунктов меню =
(#leftmenu img.leftmenu_indents)->width +
(#leftmenu td)->padding-left +
(#leftmenu td)->padding-right;

Расстояние по вертикали между пунктами меню = 
(#leftmenu td)->padding-bottom +
(#leftmenu td)->padding-top;

Расстояние по вертикали между первым пунктами (О кафедре) и
остальными = 
(#leftmenu td)->padding-bottom +
(#leftmenu td)->padding-top + 
(#leftmenu img.leftmenu_firstindent)->height;


Лучше, чтобы:
padding-left = padding-right
padding-top = padding-bottom 




*/
