<!--  StatMod.ru CSS build 02a -->

/*
H1 {
FONT-SIZE: 16 pt; 
text-align: center;
font-family: Arial;
COLOR: #012693;
}
H2 {
FONT-SIZE: 14 pt; 
text-align: left;
font-family: Tahoma;
COLOR: #012693;
}
H3 {
FONT-SIZE: 12 pt;
text-align: left;
font-family: Arial;
COLOR: #012693;
}

H4 {
FONT-SIZE: 13px;
text-align: left;
font-family:  Tahoma;
COLOR: #012693;
}
*/

H1 {
FONT-SIZE: 16 pt; 
text-align: center;
font-family: Arial;
COLOR: #023768;
}
H2 {
FONT-SIZE: 14 pt; 
text-align: left;
font-family: Tahoma;
COLOR: #023768;
}
H3 {
FONT-SIZE: 12 pt;
text-align: left;
font-family: Arial;
COLOR: #023768;
}

H4 {
FONT-SIZE: 13px;
text-align: left;
font-family:  Tahoma;
COLOR: #023768;
}

BODY {
font-family: Tahoma;
}

p{
FONT-SIZE: 13px; 
text-align:justify;
font-family: Tahoma;
}

body {
  background-color: white;
  border: 0px;
  padding:0px;
  margin:2px;
  margin-bottom: 12pt;
}

span.interesting { 
background-color: #E1F4FF; 
padding-left: 0.3em;
padding-right: 0.3em;
} 

.veryinteresting {
}

A:link 
{ 
COLOR: #2A6E9C; 
TEXT-DECORATION: underline;
font-weight: normal;
} 
A:visited 
{ 
COLOR: #2A6E9C; 
font-weight: normal;
TEXT-DECORATION: underline;
} 

A:hover 
{ 
COLOR: #FE942B; 
font-weight: normal;
TEXT-DECORATION: underline;
} 

img {
  border: 0;
}

.proftable td {
}

.timetable table {
  background-color: grey;
  border-width: thin;
  border-color: black;
  border-style: solid;
}

.timetable td.head {
  padding: 5px;
}

.timetable td.two_hours_no {
  background-color: #C0D2DD;
  font-weight: bold;
}

.timetable td.weekday {
 background-color: #C0D2DD;
  font-weight: bold;
}


.timetable td {
  font: 10pt Tahoma;

  padding: 5px;
  border-width: 1px;
  border-color: gray;
  border-style: solid;
  margin: 0; 
  text-align: left;
  vertical-align: top;
}


/* Списки */
ul{
}

.links{
}


q { /* Цитата в тексте */
	FONT-STYLE: italic;


}

blockquote, li, a, div.quote, .proftable td, .misctable td, .timetable td, .body_text { 
font: 10pt Tahoma;
}

div.quote { 
padding-top: 0.5em;
padding-bottom: 0.5em;
text-
/*font: 10pt Tahoma;*/
}

td.topnav {
  background-color: #36739A;
}

td.topnav a,  td.topnav a:visited, td.topnav img {
  font: 5px Tahoma;
  padding: 0;

  color:white;
}


span.hl { /* Подсвеченные цитаты в разделе "Цитаты -> Разное" */
background-color: #E1F0F0;
}


/***
 * Стили для горизонтального меню
 ***/


/***
 * Стили для содержимого 
 ***/
td#content_cell { 
  padding-left: 43px; /* Отступ от вертикальной линии */
  padding-top: 14px; /* Отступ от гориз. меню */
}

td.left_pane {
  background-color: #C0D2DD;
}

td.path_pane {
  background-color: #C0D2DD;
}

td#arrow_cell { 
  padding-left:0px;
}
td#path_cell {
  font: 10px Tahoma;
  color: #727272;
  padding-right: 115px;
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 8px;
}

td#path_cell a {
  color: rgb(114,114,114);
  font: 10px Tahoma;
  line-height: 8px;
text-decoration: none;
}
td#path_cell a:hover {
text-decoration: underline;

}

td#menu_cell {
  padding-top: 0px;
  padding-left: 0px;
}

#menu_cell .l1active {
  font: 15px Sans Serif;
  line-height: 3em;
}

#menu_cell td.l1 {
/*  list-style: outside none;*/
  font: 15px Sans Serif;
/*  margin-left: 0px; */
 /* padding-top: 5px;*/
  padding-bottom: 0px;
  padding-left: 2px;
  line-height: 20px;

}

#menu_cell td.l1 a {
  text-decoration:none;
color:black;
/*  font: 13px Verdana bold;*/
  font: 13px Sans Serif bold;
font-weight: bold;
  
}

#menu_cell ul {
  margin: 0px;
  padding: 0px;
}
#menu_cell td.l2 {
 /* list-style: outside none;*/
  font: 10px Sans Serif;
/*  margin-left: 0px;*/
  padding-left: 6px;
  line-height: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 8px;
}
#menu_cell td.l2 a {
text-decoration:none;
color:black;
  line-height: 15px;
  font: 11px Sans Serif;
}

#menu_cell td.l2 a:hover {
  color: rgb(114,114,114);
}

#menu_cell td.l1 a:hover {
  color: rgb(114,114,114);
}

/***
 * Копирайт
 ***/
td#left_bottom_links {
/*  padding-left: 31px; */
text-align: center;
vertical-alignment: bottom;
}

td#left_bottom_links a {
font: 11px Tahoma; 
  font-weight: bold;
}


td#copyright_cell {
padding-right:10px;
text-align: right;  font: 11px Tahoma; 
 /* font-weight: bold;*/
}

td#copyright a {
}



/***
 * Стили для левого меню 
 ***/

 
#leftmenu td { /* Отступы внутри ячеек таблицы */
  /*padding-left: 4px;  
  padding-right: 2px;
  padding-bottom: 2px;
  padding-top: 6px;*/
}

